
body {
	padding: 0;
	margin: 0;
	background-color: #21006f;
}

h1 {
	text-align: center;
	color: rgb(220,220,220);
	font-size: 3cm;
}

h6 {
	text-align: center;
	color:rgb(220,220,220);
	font-size: 1cm;
}

form {
	margin-left: 35vw;
	margin-top: 10vh;
	width: 300px;
	height: 400px;
	padding: 20px;
	background: rgb(10, 0, 46);
	border-radius: 12px;
	box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, .1);
}

table {
	padding: 5%;
	
}

#display {
	margin: 15px 10px;
	padding: 10px 4px;
	font-size: 28px;
	width: 250px;
	color: rgb(162, 162, 162);
	border-radius: 10px;
	box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, .1);
}

 input {
	outline: none;
} 
input[type=button]{
	font-family: sans-serif;
	padding: 0;
	width: 65px;
	height: 65px;
	font-size: 28px;
	background-color: rgb(10, 0, 46);
	color: #c4c4c4;
	opacity: .8;
	border: none;
    border-radius: 50%; 
	box-shadow: 5px 5px 15px 2px rgba(148, 148, 148, .1);
}

input[type=button] :hover {
	color: rgb(0, 214, 252);
	box-shadow: 5px 5px 15px 2px rgba(34, 10, 255, .4);
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%,rgba(6,6,89,1) 0%, rgba(8,8,110,1) 0%,rgba(9,9,121,1), rgba(42,102,244,1) 100%);
}

